html {
  font-size: 62.5%; /*16px x 62.5= 10 px=1 rem*/
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Coda&display=swap');
body {
  margin: 0;
  height: 100vh;
  font-size: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #151515;
  font-family: 'Coda', cursive;
}

h1,
h2,
h3,
h4,
h5,
h6,
.brand {
  font-family: 'Coda', cursive;
}
#root {
  height: 100%;
}
/*layout*/
.grid-container {
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}

header {
  padding: 0 2rem;
  grid-area: header;
  background-color: #151515;
}
main {
  grid-area: main;
  background-color: #151515;
  padding: 1rem;
}
footer {
  grid-area: footer;
  background-color: #000;
  color: #fff;
}
/*common*/

a {
  text-decoration: none;
  color: #fff;
}
a:hover {
  color: #9f9f9f;
}
a h2:hover {
  color: #9f9f9f;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
li {
  margin-top: 1rem;
}
input,
select,
textarea,
button {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem #a4a4a4 solid;
  font-size: 1.25rem;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: bold;
  background-color: #ffff;
}
button {
  background-color: #f8f8f8;
  cursor: pointer;
}
input:hover,
select:hover,
textarea:hover,
button:hover {
  border: 0.1rem #404040 solid;
}
button.primary {
  background-color: #f0c040;
  color: #000;
}
button.block {
  width: 100%;
}

header a {
  color: #fff;
  padding: 1rem;
}
a.brand {
  color: #fff;
  font-size: 3rem;
  font-weight: bold;
}
.badge {
  background-color: #f02020;
  color: #ffffff;
  border-radius: 50%;
  padding: 0.2rem 0.7rem;
  font-size: 1.4rem;
  margin-left: 0.2rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.row.center {
  justify-content: center;
}
.row.top {
  margin-top: 2rem;
  align-items: flex-start;
}
.col-1 {
  flex: 2 1 30rem;
}

.col-1 ul {
  margin: 0 1.25rem;
}

.col-1 h1 {
  margin-top: 0;
}
.col-2 {
  text-align: center;
  flex: 2 1 40rem;
}
.min-30 {
  min-width: 30rem;
}

img {
  object-fit: cover;
  height: 300px;
  border-radius: 2rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
img.small {
  height: 100px;
  width: 100px;
  border-radius: 0;
}

img.medium {
  width: 100%;
}
img.large {
  width: 70%;
  height: 70%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.card {
  border: 0.1rem #202020 solid;
  background-color: #202020;
  border-radius: 2rem;
  margin: 1rem;
  transition: transform 0.2s;
  height: 475px;
  width: 300px;
}

.cart {
  border: 0.1rem #202020 solid;
  background-color: #202020;
  border-radius: 2rem;
  margin: 1rem;
  transition: transform 0.2s;
}

.cart-body {
  padding: 1rem;
}

li {
  color: #fff;
}

.card:hover {
  transform: scale(1.05);
}
.card-body {
  padding: 1rem;
}
.card-body > * {
  margin-bottom: 0.5rem;
}
.price {
  font-size: 2rem;
  color: #fff;
  font-weight: bold;
}

h2 {
  margin: 0;
  padding: 10px 0;
  font-size: 2rem;
}
.rating span {
  color: #f0c040;
  margin: 0.1rem;
}
.rating p {
  font-size: 1.25rem;
  color: #a8a8a8;
  margin: 0;
  padding: 0;
}
.success {
  color: green;
}
.error {
  color: red;
}
.alert {
  padding: 1rem;
  border: 0.1rem solid transparent;
  border: 0.5rem;
}
.alert-info {
  color: #2020a0;
  background-color: #e0e0ff;
}
.alert-danger {
  color: #a02020;
  background-color: #ffe0e0e0;
}
.alert-primary {
  color: #fff;
  background-color: #000;
}

.alert-success {
  color: #fff;
}

h1 {
  color: #fff;
}

.gray {
  color: #f0c040;
}

h2 {
  color: #fff;
}

.loading {
  color: #fff;
  display: flex;
  height: 500px;
  font-size: 5rem;
  font-weight: bold;
  justify-content: center;
  align-items: center;
}

.btn {
  padding: 1rem;
  margin-bottom: 1.5rem;
  background-color: #202020;
  border-radius: 2rem;
}

.form {
  max-width: 60rem;
  margin: 0 auto;
  color: #fff;
}
.form > div {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}
.form label {
  margin: 1rem 0;
  display: block;
}

.dropdown {
  display: inline-block;
  position: relative;
}
.dropdown-content {
  position: absolute;
  display: none;
  right: 0;
  min-width: 12rem;
  padding: 1rem;
  z-index: 1;
  background-color: #404040;
  margin: 0;
  margin-top: 0.4rem;
  border-radius: 0.5rem;
}
.dropdown:hover .dropdown-content {
  display: block;
}
/* Checkout Steps */
.checkout-steps > div {
  border-top: 0.3rem #c0c0c0 solid;
  color: #c0c0c0;
  flex: 1;
  padding: 1rem;
  font-weight: bold;
}
.checkout-steps > div.active {
  border-top-color: #f08000;
  color: #f08000;
}

button.small {
  font-size: 1.2rem;
}

.table {
  width: 100%;
  border-collapse: collapse;
  color: #fff;
}
.table tbody tr:nth-of-type(odd) {
  background-color: #202020;
}
.table td,
.table th {
  text-align: left;
  border: 0.1rem solid #202020;
  padding: 0.5rem;
}
.table button {
  margin: 0 0.2rem;
}

.cart-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  margin-left: 1rem;
  margin: auto;
  width: 100%;
}

select {
  margin-right: 1rem;
}

.cart-titles {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.cart-buttons {
  min-width: 190px;
}

.date-picker {
  background-color: #151515;
  color: #fff;
  width: 65px;
}

.white-text {
  color: #fff;
  padding: 0.25rem;
}

.t-center {
  text-align: center;
  margin: 0;
}
